@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$sansFontStack: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; 
$serifFontStack: "utopia-std-display", serif;
$testPink: #ffd8dd;
$linkColor: #4c4c4c;
$hoverLinkColor: #7f7f7f;

body {
	background-color: $testPink; 
	font-family: $sansFontStack;

	a {
		color: $linkColor;
		&:hover,  &:focus {
			color: $hoverLinkColor;
			text-decoration: none;
		}
	}
}

.passport-unvisited {
	opacity: 0.5; 
}

.jumbotron {
	h1 {
		font-style: italic; 
	}
}

.navbar-brand { 
	font-style: italic; 
 }

 .overlay-text {
	font-family: serifFontStack;
 	font-style: italic;
 	color: #ffffff;
 }

 .overlay-img {
 	padding-bottom: 20px;
 }

.menu-img {
	max-width: 640px; 
}

