<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coffee Shop</title>
    <link rel="stylesheet" href="/css/main.css"> 
	
	{{#if showTests}}
	<link rel="stylesheet" href="/vendor/mocha.css"> 
	{{/if}}
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
	{{> navbar}} 
    {{{body}}}
	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script> 
		<script>
			mocha.ui('tdd');  //test-driven development interface 
			var assert = chai.assert; 
		</script>
		<script src="/qa/tests-global.js"></script> 
		{{#if pageTestScript}} 
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
	<div class="container">
		<footer>
			<p>&copy; 2016 Company, Inc.</p>
		</footer>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>