<div class="container">
    <!-- Example row of columns -->
    <div class="row">
		<h1>Explore</h1> 
    </div>
    <div class="row">
    	{{#each rows}}
    		<h3><a href="menu/{{this.shop_id}}">{{this.shop_name}}</a></h3>
    		<img src="{{this.shop_photo_t}}" alt="{{this.shop_name}}"/>
    	{{/each}}
    </div> 
</div>

