<div class="container">
    <div class="row">
		<h1>Explore</h1> 
    </div>
    <div class="row">
    	{{#each rows}}
	    	<div class="col-xs-6 col-sm-3">
		    	<div class="explore-container">
		    		<a href="menu/{{this.shop_id}}">
		    			<img src="{{this.shop_photo_s}}" alt="{{this.shop_name}}"/>
		    			<h2>{{this.shop_name}}</h2>
		    		</a>
		    	</div><!--explore-container-->
		    </div><!--col-xs-6 col-md-4-->
    	{{/each}}
    </div> <!--row-->
</div><!--container-->

