<div class="container">
    <!-- Example row of columns -->
    <div class="row">
		{{#with rows.[0]}}   
			<h1>{{shop_name}} Menu</h1>
			<img src="{{shop_photo_m}}" alt="shop_name"/>
		{{/with}}
    </div>
    <div class="row">
    	{{#each rows}}
			<h3>{{this.item_name}}</h3> 
		{{/each}}
	</div> 
</div>

