<div class="container">
    <!-- Example row of columns -->
    <div class="row">
		<h1>My Passport</h1> 
    </div>
    <div class="row">
    	{{#each rows}}
    		<img src="{{this.shop_photo_t}}" alt="{{this.shop_name}}" class="visited{{this.passport_visited}}"/>
    	{{/each}}
    </div> 
</div>

